* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

#header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    font-size: 10px;
    height: 36px;
    background-color: #31124b;
    color: #fff;
    line-height: 36px;
}

#header #header-contact {
    display: inline-block;
    z-index: 999;
}

#header .contact-phone-number {
    display: inline-block;
    padding-left: 170px;
    padding-right: 45px;
}

#header .contact-social {
    display: inline-block;
}

#header .contact-social a{
    text-decoration: none;
}

#header .contact-social i {
    color: #fff;
    padding: 0 10px;
}

#header .personal {
    display: inline-block;
    float: right;
    padding-right: 170px;
    font-weight: 600;
}

#header .personal p {
    display: inline-block;

}

#header .personal p:hover,
#header .contact-social i:hover {
    color: #fa9e1b;
    cursor: pointer;
}

#header #nav {
    position: fixed;
    right: 0;
    left: 0;
    top: 36px;
    padding: 40px 0;
    background-color: rgba(54, 19, 84, .6);
}

#header #nav div {
    display: inline-block;
}

#header #nav .nav-text {
    font-size: 30px;
    font-weight: 700;
    padding: 0 170px;
}

#header #nav .nav-pin {
    font-size: 50px;
}

#header #nav .nav-list {
}

#header #nav .nav-list a{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 0 24px;
}

#header #nav .nav-search{
    font-size: 18px;
    font-weight: 700;
}

#theme {
    width: 100%;
    height: 100vh;
    background-repeat:no-repeat; 
    background-size: cover;
    background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)), url('/project/assets/img/discover.jpg');
}

#content {
    height: 500px;
    background-color: #fa9e1b;
}

#footer {

}
